.env
/node_modules
/myvenv
/expense-tracker-whatsapp-bot/.env
/expense-tracker-whatsapp-bot/__pycache__
/expense-tracker-whatsapp-bot/migrations
/expense-tracker-whatsapp-bot/myenv
/expense-tracker-whatsapp-bot/app.log